[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cpt"]
	path = cpt
	url = https://github.com/cran/cpt
[submodule "ruv"]
	path = ruv
	url = https://github.com/cran/ruv
